<ion-header>
    <ion-navbar color="primary">
        <ion-title>Lista sin nombre</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header>
            Tareas por hacer
        </ion-list-header>

        <ion-item>
            <ion-label floating>Nueva tarea</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

    </ion-list>

    <ion-list>
        <button ion-item detail-none>
            <ion-icon name="square-outline" item-start></ion-icon>
            Programar
        </button>
    </ion-list>



</ion-content>