<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{lista.titulo}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header>
            Tareas por hacer
        </ion-list-header>

        <ion-item>
            <ion-label floating>Nueva tarea</ion-label>
            <ion-input [(ngModel)]="nombreItem" type="text" (keyup.enter)="agregarItem()"></ion-input>
        </ion-item>

    </ion-list>


    <ion-list *ngIf="lista.items.length > 0">
        <ion-list-header>
            Tareas por hacer
        </ion-list-header>
        <button ion-item detail-none (click)="actualizarTarea(item)" class="animated fadeInDown" *ngFor="let item of lista.items">
            <ion-icon *ngIf="item.completado" name="checkbox-outline" item-start> {{ item.desc }}</ion-icon>
            <ion-icon *ngIf="!item.completado" name="square-outline" item-start> {{ item.desc }}</ion-icon>
            
        </button>
    </ion-list>



</ion-content>